.chat-messages-show-container{
    background: #020e34;
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
 }
 .chat-messages-show-list {
    list-style-type:none;
    margin: 0;
    padding: 0;
    width: 90%   ;
 }
 .messages{
    background-color: #23c2cd;
    width: 100%;
    font-size: large;
    padding: 20px;
    margin: 2em;
    font-weight: bold;
    border-radius: 8px;
 }
 .chat-messages-create-container{
    width: 100%;
    background: #23c2cd;
    height: 100px;
    display: flex;
    align-items: left;
 }
 .chat-messages-create-input {
    padding: 12px;
    margin: 29px 30px;
    border: none;
    width: 100em;
    outline: none;
    border-radius: 8px;
    &:focus{
      border: 2px solid #020e34;
    }
 }
 .chat-messages-create-button {
    height: 50px;
    margin: auto 40px;
   border-radius: 8px;
   padding: 10px 20px;
    background: #020e34;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 20px;
 }
 
 @media screen and (max-width: 700px){
   .chat-messages-show-list{
      width: 50vw;
   }
}