.chat-messages-show-container{
    background: #020e34;
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: auto;
 }
 .chat-messages-show-list {
    list-style-type:none;
    margin: 0;
    padding: 0;
    width: 90vw;
 }
 .messages{
    background-color: #23c2cd;
    width: 100%;
    font-size: large;
    padding: 20px;
    margin: 2em;
    font-weight: bold;
    border-radius: 25px;
 }
 .chat-messages-create-container{
    background: #23c2cd;
    height: 100px;
    display: flex;
    justify-content: center;
 }
 .chat-messages-create-input {
    padding: 12px;
    margin: 29px 30px;
    flex:2;
    border: none;
    outline: none;
    &:focus{
      border: 2px solid #020e34;
    }
 }
 .chat-messages-create-button {
    height: 50px;
    margin: auto 40px;
    width: 100px;
    background: #020e34;
    color: white;
    border: none;
 }